<link rel="stylesheet" href="/static/style.css" type="text/css">

 
 
<form action="/add">
	<div class="add">
		<div class="add-screen">
			<div class="app-title">
				<h1>Add Item</h1>
			</div>
 
			<div class="add-form">
				<div class="control-group">
				<input type="text" class="name-field" value="" placeholder="name" name="item_name">
				<label class="name-field-icon fui-user" for="item-name"></label>
				</div>
				
				<div class="control-group">
				<input type="text" class="year-field" value="" placeholder="year" name="year_item">
				<label class="year-field-icon fui-lock" for="year-item"></label>
				</div>
				<input type="submit" value="ADD" class="btn btn-primary btn-large btn-block" >
				<br>
				<br>
				<a href='/logout'>Logout</a>
			    <br>
			</div>
		</div>
	</div>
</form>

 